name: ci-test-push

on:
  push: { branches: [ "**" ] }

jobs:
  test-push: # job id
    timeout-minutes: 15
    strategy:
      fail-fast: false # allow all test to run to the end
      matrix:
        os: [ "ubuntu-latest" ]
        node-version: [ "18" ]
    runs-on: "${{ matrix.os }}"
    steps:
      - { uses: "actions/checkout@v3" } # https://github.com/actions/checkout
      - { uses: "actions/setup-node@v3", with: { node-version: "${{ matrix.node-version }}" } } # https://github.com/actions/setup-node
      - run: npm i -g @dr-js/core@0.5 @dr-js/dev@0.5 && dr-dev -eI .github/ci-patch.js
      - run: npm ci --omit=optional
      - run: npm test
